body {
    font-family: 'Roboto', 'Raleway', sans-serif ;
    color: #434455;
}

ul, li {
list-style-type: none;
}

.web-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.web-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        text-transform: uppercase;
        color: #2e2f42;
}
.web-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.web-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section1-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
}
.section1-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.section2-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.section2-title1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section2-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}